{% extends "../pythonathon_v3/base.html" %}

{% block title %}Log in{% endblock %}

{% load bootstrap4 %}
{% load recaptcha2 %}
{% block header %}{% recaptcha_init %}{% endblock %}

{% block content %}

<form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
    {# {% bootstrap_button 'Submit' button_type="submit" button_class="btn-primary" %} #}
    <button
            class="g-recaptcha btn-primary"
            type="submit"
            data-sitekey="6LdrOEIUAAAAABfm0F2fWdDKdue_O7fNwEQ2uGd5"
            data-callback="YourOnSubmitFn">
        Submit
    </button>
    {% endbuttons %}
</form>

<p><a href="{% url 'ctf:signup' %}">New User?</a></p>
<p><a href="{% url 'password_reset' %}">Lost password?</a></p>

{% endblock %}