{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery=1 %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<div id="wrapper">
    <nav class="navbar navbar-light navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="{% url 'ctf:index' %}">Pythonathon</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a href="{% url 'ctf:index' %}" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="{% url 'ctf:problems' %}" class="nav-link">Problems</a></li>
                    <li class="nav-item"><a href="{% url 'ctf:profiles' %}" class="nav-link">Profiles</a></li>
                    {% if request.user.is_anonymous %}
                    <li class="nav-item"><a href="{% url 'login' %}" class="nav-link">Log in</a></li>
                    <li class="nav-item"><a href="{% url 'ctf:signup' %}" class="nav-link">Sign up</a></li>
                    {% else %}
                    {% if request.user.is_superuser %}
                    <li class="nav-item"><a href="{% url 'admin:index' %}" class="nav-link">Admin</a></li>
                    {% endif %}
                    <li class="nav-item"><a href="{% url 'ctf:profile' request.user.id %}" class="nav-link">Hello, {{ request.user.username }}</a></li>
                    <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link">Log out</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">

        {% block content %}

        {% endblock %}
    </div>
</div>